In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [3]:
# Read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [4]:
# Read the ride data file and store it in a pandas DataFrame.
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head(10)

                 city           date   fare      ride_id
0  Lake Jonathanshire  1/14/19 10:14  13.83  5.740000e+12
1  South Michelleport   3/4/19 18:24  30.24  2.340000e+12
2  Port Samanthamouth   2/24/19 4:29  33.44  2.010000e+12
3          Rodneyfort  2/10/19 23:22  23.44  5.150000e+12
4          South Jack    3/6/19 4:28  34.58  3.910000e+12
5        South Latoya  3/11/19 12:26   9.52  1.990000e+12
6       New Paulville  2/27/19 11:17  43.25  7.930000e+11
7        Simpsonburgh   4/26/19 0:43  35.98  1.120000e+11
8     South Karenland    1/8/19 3:28  35.09  8.000000e+12
9       North Jasmine    3/9/19 6:26  42.81  5.330000e+12

In [5]:
# Get the columns and the rows that are not null.
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [6]:
# Get the columns and the rows that are not null.
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [7]:
# Get the data types of each column.
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [8]:
# Get the unique values of the type of city.
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [9]:
# Get the number of data points from the Urban cities.
sum(city_data_df["type"]=="Urban")

66

In [10]:
#What are the number of data points for the Suburban and Rural cities?
sum(city_data_df["type"]=="Suburban")

36

In [11]:
#What are the number of data points for the Suburban and Rural cities?
sum(city_data_df["type"]=="Rural")

18

In [12]:
# Get the columns and the rows that are not null.
ride_data_df.count()

city         2375
date         2375
fare         2375
 ride_id     2375
dtype: int64

In [13]:
# Get the columns and the rows that are not null
ride_data_df.isnull().sum()

city         0
date         0
fare         0
 ride_id     0
dtype: int64

In [14]:
# Get the data types of each column.
ride_data_df.dtypes

city          object
date          object
fare         float64
 ride_id     float64
dtype: object

In [15]:
# Combine the data into a single dataset
pyber_data_df= pd.merge(ride_data_df, city_data_df, how= "left", on= ["city", "city"])
pyber_data_df.head()

                 city           date   fare      ride_id   driver_count   type
0  Lake Jonathanshire  1/14/19 10:14  13.83  5.740000e+12             5  Urban
1  South Michelleport   3/4/19 18:24  30.24  2.340000e+12            72  Urban
2  Port Samanthamouth   2/24/19 4:29  33.44  2.010000e+12            57  Urban
3          Rodneyfort  2/10/19 23:22  23.44  5.150000e+12            34  Urban
4          South Jack    3/6/19 4:28  34.58  3.910000e+12            46  Urban

In [16]:
# Create the Urban city DataFrame.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head()

                 city           date   fare      ride_id   driver_count   type
0  Lake Jonathanshire  1/14/19 10:14  13.83  5.740000e+12             5  Urban
1  South Michelleport   3/4/19 18:24  30.24  2.340000e+12            72  Urban
2  Port Samanthamouth   2/24/19 4:29  33.44  2.010000e+12            57  Urban
3          Rodneyfort  2/10/19 23:22  23.44  5.150000e+12            34  Urban
4          South Jack    3/6/19 4:28  34.58  3.910000e+12            46  Urban

In [17]:
# Create the Suburban and Rural city DataFrames.
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

In [18]:
# Get the number of rides for urban cities.
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count.head()

KeyError: 'ride_id'

In [19]:
# Create the suburban and rural ride count.
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]

rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]

KeyError: 'ride_id'